<div style="padding:20px;"
     class="card"
     [@select]="selected">

  <h2>{{item.from}} - {{item.to}}</h2>
  <p>Flugnr. #{{item.id}}</p>
  <p>Datum: {{item.date | date:'dd.MM.yyyy HH:mm'}}</p>
  <p>Flughafen von: {{item.from | city}}</p>
  <p>Flughafen nach: {{item.to | city:'short'}}</p>

  <p>
    <button class="btn btn-default" *ngIf="!selected" (click)="select()">Auswählen</button>
    <button class="btn btn-default" *ngIf="selected" (click)="deselect()">Entfernen</button>
    <a class="btn btn-default" [routerLink]="['/flight-edit', item.id, { showDetails: true }]">Edit</a>
  </p>
</div>
